@use "sass:meta";
@use "sass:list";
@use "sass:math";

@function validate-type($name, $type, $types-allowed) {
    $type-value: meta.type-of($type);

    @if $types-allowed != null and $type-value != $types-allowed {
        @error "The parameter `#{$name}` must be of type `#{$types-allowed}`. Received: `#{$type}` (#{$type-value})";
    }

    @return null;
}

@function validate-value($name, $value, $values-allowed) {
    @if $values-allowed != null and list.index($values-allowed, $value) == null {
        @error "The parameter `#{$name}` can only be one of #{$values-allowed}. Received: `#{$value}`";
    }

    @return null;
}

@function px-to-rem($value) {
    $error: validate-type("$value", $value, number);

    $base-font-size: 16;
    $rem-unit: 1rem;

    @return math.div($value, $base-font-size) * $rem-unit;
}
