@use "./variables" as *;

$color-token: (
    brand: var(--color-brand),
    main: var(--color-main),
    primary: var(--color-primary),
    secondary: var(--color-secondary),
    soft: var(--color-soft),
    action: var(--color-action),
    interactive: var(--color-interactive),
    glass: var(--color-glass),
    warning: var(--color-warning),
    error: var(--color-error)
);

$weight-token: (
    thin: 100,
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900
);

$text-token: (
    xs: $text-xs,
    sm: $text-sm,
    base: $text-base,
    lg: $text-lg,
    xl: $text-xl,
    "2xl": $text-2xl,
    "3xl": $text-3xl,
    "4xl": $text-4xl,
    "5xl": $text-5xl
);

$icon-token: (
    sm: $icon-sm,
    base: $icon-base,
    lg: $icon-lg
);

$spacing-token: (
    1: $spacing-1,
    2: $spacing-2,
    3: $spacing-3,
    4: $spacing-4,
    5: $spacing-5,
    6: $spacing-6,
    7: $spacing-7,
    8: $spacing-8,
    9: $spacing-9,
    10: $spacing-10,
    11: $spacing-11,
    12: $spacing-12,
    13: $spacing-13,
    14: $spacing-14
);
